<div class="offset-3 col-6">

    <% if(success && success.length) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button id="closeButton" type="button" class="btn btn-outline-success" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        
        <% if(error && error.length) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button id="closeButton" type="button" class="btn btn-outline-danger" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function() {
        $("#closeButton").click(function() {
            $(this).closest('.alert').hide(); // This line hides the parent div with the "alert" class.
        });
    });
</script>
