<% layout('layouts/boilerplate') %>




<div style="background-color: rgb(181, 181, 181); width: 1150px;" class="offset-2 col-6 mt-5">
    <br>
    <h2 style="margin-right: 30px; text-align: center;"><b>  How to dispose trash in Germany? [2023 Guide]</b></h2>

    <hr>
    <img style="width: 1150px; height: 650px; font-family: roboto;" src="https://liveingermany.de/wp-content/uploads/2022/03/garbage-waste-container-in-germany.jpg" alt="ni img">
    
 <p class="mt-4" style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">
    Our goal at this platform is to alleviate some of the stress that comes with moving to Germany for the first time by making the process of navigating the country’s bureaucracy and culture as simple as possible. This is your one-stop shop for all things trashy in Germany.
    <br><br>You’ll have a lot of questions when you get to Germany on how to separate the trash. In Germany, recycling is more than just a fad. Why does Germany have the world’s best recycling rate? Because 56% of municipal waste is recycled in Germany.
    
    <br><br>Each German citizen will be responsible for producing an average of 194 kg of household waste annually by 2020. People in southern Germany produce significantly less garbage per capita than those in northern Germany, which is worth noting.
 </p>

 
 <h4 class="mt-3" style="margin-left: 25px;"> <b>The Blue or Green Trash bin Is for Paper and Cardboard  </b></h4>

<p style="font-size: 20px; font-family: roboto; text-align: justify; width: 1100px;margin-left: 30px; ">
  
    Depending on the state, the blue and green colour is for paper waste. In the south, we have seen green containers for papers. So basically, every paper product that is clean and dry goes in the paper trash bin. (Blaue Tonne oder Grune Tonne).

    <div style="margin-left: 25px;">
    <h5 > <b>Exactly what does the blue or green trash bin have a place for?</b></h5>

        <ul style="font-size: 20px; font-family: roboto;">
            <li>Writing and Addressing Correspondence</li>
            <li>Newspapers</li>
            <li>Magazines</li>
            <li>Boxes of eggs</li>
            <li>Carton Packaging (folded)</li>
        </ul> 

       <h5> <b>What Shouldn’t Go in The Blue Container?</b></h5>

        <ul style="font-size: 20px; font-family: roboto;">
            <li>A yellow bin is where you put beverage cartons.</li>
            <li>A black bin is where you put paper towels.</li>
            <li>Cardboard that has been soiled with food debris results in a “black bin.”</li>
            <li>BSpecial enormous carton containers in your neighborhood streets = giant carton shipping crates.</li>
        </ul>
        <br>
        <h4> <b>Plastics and Soft Metals in a Yellow Bin</b></h4>
        
        <p style="font-size: 20px; font-family: roboto; text-align: justify; width: 1100px;">The yellow bin (Gelbe Tonne) or yellow bag should be used for any rubbish and packaging made of plastic, soft metal, or coated paper with the Green Dot (Der Grüne Punkt) (Gelber Sack). Before putting food in a container, make sure it is clean or rinsed.</p>
    </div>
</p>


<p style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">
 

While the thought of a fire emergency in your student dormitory may be unsettling, being prepared can make all the difference in ensuring your safety and the safety of your fellow residents. By staying calm, having a clear fire escape plan, and following the measures outlined in this guide, you can greatly reduce the risks associated with a fire emergency.

Remember that safety is a collective responsibility. Encourage your fellow students to take fire safety seriously and to practice the recommended measures. By doing so, you can help ensure that everyone in your dormitory is well-prepared and protected in the event of a fire emergency. Your proactive approach can make your living environment safer for all

<h4 style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;"><b>Do You Know What Goes in The Yellow Recycling Bin?</b></h4>

<ul style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">
<li>Bottles made of plastic that do not require a deposit</li>
<li>Cans with no down payment requirements</li>
<li>Cartons and Tetra-packs of milk and juice</li>
<li>Containers for yoghurt </li>
<li>Cartons of alcoholic beverages</li>
<li>The foil of aluminum</li>
<li>Tins</li>
<li>What Is Not Allowed in The Yellow Bin?</li>
</ul>

<h4 style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;"><b>What Is Not Allowed in The Yellow Bin?</b></h4>

<ul style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">
<li>Batteries are in a class of their own</li>
<li>Special canisters for light bulbs</li>
<li>Styrofoam is a black bin.</li>
</ul>

<h3 style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;"><b>Organic/Bio Waste in Green/Brown Trash Bin</b></h3>

<p style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">If it is biodegradable, it should go in the brown or green trash bin. The colour of the trash bin depends upon your state.</p>

<ul style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">
<li>Batteries are in a class of their own</li>
<li>Special canisters for light bulbs</li>
<li>Styrofoam is a black bin.</li>
</ul>

<h3 style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;"><b>Residual Waste is contained in the gray/black bin</b></h3>

<p style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">For all other rubbish, including sanitary products, the German grey or black trash container (Restmüll) is appropriate.</p>

<h4 style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;"><b>Bottles of Glass</b></h4>

<p style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">To properly dispose of wine and spirit bottles or smaller jars and oil bottles, you must separate them from other waste. You’ve probably seen large containers with holes all throughout the town. You’ll find your glass bottles here, separated from one other by a variety of brown, white, and green glass.

    If you don’t know the location of these in your city then search with “Glascontainer + Your city”. You will probably find your city’s waste management company’s website. On this site, you will find a map with all the locations of these glass containers. You can find the nearest one and through your glass here.</p>
    
    <img style="width: 1000px; height: 650px; margin-left: 65px;" src="https://liveingermany.de/wp-content/uploads/2022/03/glass-waste-container-in-germany.jpg" alt="No img">

    <br>
    
    <h3 class="mt-3" style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;"><b>The Waste Management Calendar in Germany</b></h3>

    <p style="font-size: 20px; text-align: justify; width: 1100px;margin-left: 30px; font-family: roboto;">Every year, each city issues a waste management calendar which is called Abdallkalender in German. Usually, it is delivered to each resident or if it is not delivered then you can find it on the website of the local waste management authority.

        In this calendar, they clearly state the days for each type of garbage. It outlines the days and times that your neighbourhood’s various garbage containers will be collected. Besides this, they also mention the proper methods for disposing of specific types of waste. Here is the pdf file of one of the city Freiburg, you can check that out for reference.
        
        Those containers must be placed on your front sidewalk the night before the scheduled pickup. Early in the morning, a garbage truck (Müllabfuhr) will drive past. Having a neighbour or janitor take care of this is common in apartment complexes.
        
        Some Local waste management company also offers an app with a digital garbage guide for residents the city.
        
        If you live in a big city, like the ones, we mentioned below then, you can design your own waste pickup schedule, or you may just Google ‘Abfallkalender + city name.’ In order to receive the calendar, you must input your exact street address of your city</p>









</div>


<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
  // change it to const
const forms = document.querySelectorAll('.validated-form')

// Loop over them and prevent submission
Array.from(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<footer class="footer bg-light py-3 mt-auto">
    <div class="container" >
        <a style="margin-left: 50px;" href="https://liveingermany.de/trash-and-recycling-guide-in-germany/#gsc.tab=0">Source: https://liveingermany.de/trash-and-recycling-guide-in-germany/#gsc.tab=0</a>
    </div>
</footer>

    <footer class="footer bg-light py-3 mt-auto">
        <div class="container">
            <span class="text-muted">&copy; DormEase 2023</span>
        </div>
    </footer>
</body>

</html>