<% layout('layouts/boilerplate') %>


 <div class="row">
      <!-- <div >
        <h1 class="text-center mt-5" style="margin-right: 150px;">Add new Product</h1>
      </div> -->
    <!-- offset by 3 means to ignore 3 space and use next 6 spaces. this is to center -->
    <div class="col-6 offset-3 mt-5" style="background-color: #EAEDED;">
      <h1 class="text-center mt-3" >Add New Product</h1>
      <hr>
      <div > 
        <form action="/products" method="POST" novalidate class="validated-form"> 
            <!-- above class should match the script below -->
            <div class="mb-3 mt-3">
                <label class="form-label" for="title">Title: </label>
                <input class="form-control" type="text" name="title" id="title" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="location" id="location" required>
            <div class="valid-feedback">Location added!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="image" id="image" required>
                <div class="valid-feedback">Image URL good to go!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <!-- id in span is connected to aria-describedby in input -->
                    <span class="input-group-text" id="price-label">€</span> 
                    <input type="text" class="form-control" id="price" name="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                </div>
                <div class="valid-feedback">Price helps user decide their budget!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description" required>Description</label>
                <textarea class="form-control" type="text" name="description" id="description">
                </textarea>
                <div class="valid-feedback">Description added.. makes it more informative!</div>
            </div>
            
            <div class=" mb-3 offset-1 col-3">
                <button style="width: 510px;" class="btn btn-success btn-lg btn-block mb-2">submit</button>
                <br>
                <a style="width: 510px;" class="btn btn-danger btn-lg btn-block" href="/products">Back</a>
            </div>
        </form>

        <!-- <a class="btn btn-primary" href="/products">back</a> -->
        </div>
    </div>
 </div>   



 <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
    // change it to const
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
 </script>